numpy
pandas
pickle5  # pickle is included in Python's standard library, but pickle5 may be needed for newer functionalities
streamlit
matplotlib
scikit-learn  # sklearn is part of scikit-learn
seaborn
streamlit-star-rating
underthesea
regex
demoji
pyvi
wordcloud
